*
*/**
!*.py
!*.ipynb
!figure.png
!requirements.txt

!src
src/*
!src/*.py
!src/*.ipynb

!src/HHbbVV
!src/HHbbVV/processors
!src/HHbbVV/processors/**

!src/HHbbVV/corrections
!src/HHbbVV/corrections/*
!src/HHbbVV/corrections/*/**

!src/HHbbVV/data
!src/HHbbVV/data/*
!src/HHbbVV/data/*/**

!src/condor
!src/condor/*
!src/condor/submit_configs/*

!src/binder
!src/binder/*.ipynb

!src/HHbbVV/postprocessing
!src/HHbbVV/postprocessing/**
src/HHbbVV/postprocessing/data/*
src/HHbbVV/postprocessing/*.pkl
src/HHbbVV/postprocessing/cards
src/HHbbVV/postprocessing/templates_old
src/HHbbVV/postprocessing/*.txt
src/HHbbVV/postprocessing/condor_templates
src/HHbbVV/postprocessing/outs

!src/HHbbVV/resonant_studies
!src/HHbbVV/resonant_studies/**

!src/HHbbVV/scale_factors
!src/HHbbVV/scale_factors/**

!src/HHbbVV/triton
!src/HHbbVV/triton/**

!src/HHbbVV/combine
!src/HHbbVV/combine/**

!src/HHbbVV/tagger
!src/HHbbVV/tagger/**

!data
!data/*
!data/*/**

!paper
!paper/**


!.gitignore
!.github
!.github/**
!pyproject.toml
!.pre-commit-config.yaml
!LICENSE
!*.md

**/.ipynb_checkpoints
**/*test*
!**/*F_test*
!**/*ftest*
**/__pycache__
**/.DS_Store
.DS_Store
