*
!*.py
*/*
*/*/**
!*.py
!*.ipynb
!*.pickle
!processors
!processors/*.py
!processors/*.pkl
!condor
!condor/*
!binder
!binder/*.ipynb
!outPickles
!outPickles/*.pickle
outPickles/*skimmed*
!data
!data/*.txt
!data/**
!data/**/*.txt
!corrections
!corrections/*
!corrections/*/**
!plots
!plots/**
plots/ControlPlots
!python
!python/*.py
python/data
python/*test*
python/*Test*
**/.ipynb_checkpoints
.DS_Store
