*
!*.py
*/*
*/*/**
!*.py
!*.ipynb
!*.pickle
!processors
!condor
!condor/*
!binder
!binder/*.ipynb
!outPickles
!outPickles/*.pickle
!data
!data/*.txt
!corrections
!corrections/*
!corrections/*/**
.DS_Store